.projectsAbout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 99rem;
  margin: 0 auto;
  min-height: 100vh;
  h2 {
    margin-top: 9rem;
    text-align: left;
  }

  .options {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .option {
      background: var(--background-primary-700);
      padding: 0.6rem 1.6rem;
      border-radius: 1.5rem;
      font-weight: 600;
      cursor: pointer;
      color: var(--text-main);
    }
  }

  .projects {
    display: flex;
    gap: 6.4rem;
  }
}
