.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  .iconHamburger {
    display: none !important;
  }

  .smallIconDiv,
  .mediumIconDiv,
  .largeIconDiv,
  .scrollDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background: var(--background-icons);
    cursor: pointer;
    .smallIcon,
    .mediumIcon,
    .largeIcon {
      color: var(--white-dark);
      transition: color 0.3s ease;
    }
    &:hover {
      .smallIcon,
      .mediumIcon {
        color: var(--white);
      }
    }
  }

  .smallIconDiv {
    width: 3rem;
    height: 3rem;
    .smallIcon {
      width: var(--font-size-sm);
      height: var(--font-size-sm);
    }
  }

  .mediumIconDiv {
    width: 3.4rem;
    height: 3.4rem;
    .mediumIcon {
      width: var(--font-size-lg);
      height: var(--font-size-lg);
    }
  }

  .largeIconDiv {
    width: 6.5rem;
    height: 6.5rem;
    .largeIcon {
      width: 3rem;
      height: 3rem;
    }

    &:hover {
      .largeIcon {
        filter: opacity(0.8);
      }
    }
  }
}

.scrollDiv {
  width: 3.4rem;
  height: 3.4rem;
  z-index: 99;
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  .scroll {
    font-size: var(--font-size-xs);
    color: var(--white-dark);
    transition: color 0.3s ease;
  }

  &:hover {
    .scroll {
      color: var(--white);
    }
  }
}

@media only screen and (max-width: 640px) {
  .wrapper {
    .iconHamburger {
      display: flex !important;
    }
  }
}
