.about {
  display: flex;
  flex-direction: column;
  width: 99rem;
  margin: 0 auto;
  min-height: 100vh;
  h2 {
    margin-top: 9rem;
    text-align: left;
  }
  .main {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;

    .aboutInfos {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .icons {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .iconDiv {
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--background-primary-700);
          border-radius: 999px;
          cursor: pointer;
          .icon {
            font-size: var(--font-size-base);
            color: var(--text-main);
          }
        }
      }
    }
    .companies {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      position: relative;
      .titleSection {
        position: absolute;
        top: 0;
        right: 0;
      }
      .company {
        display: flex;
        gap: 1.5rem;
        width: 60rem;
        &_logo {
          border-radius: 10px;
          width: 64px;
          height: 64px;
          border: 1px solid var(--background-icons);
        }
        .title {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 300;
          h3 {
            font-size: var(--font-size-base);
          }
        }
        .subtitle {
          display: flex;
          align-items: center;
          gap: 1rem;
          p:nth-child(1) {
            padding: 2px 5px;
            background: var(--background-primary-700);
            border-radius: 10px;
            font-size: var(--font-size-sm);
          }
          p:nth-child(2) {
            font-size: var(--font-size-xs);
          }
        }
        .goalsAchieved {
          margin: 1rem 0;
          font-size: var(--font-size-xs);
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about {
    width: auto;
    margin: 0 2rem;
    padding-bottom: 3rem;
    .main {
      gap: 3rem;
      flex-direction: column;
      .companies{

        .titleSection{
          position: static;
          display: flex;
          gap: 0.2rem;
        }
        .company{
          width: auto;
        }
      }
    }
  }
}
