.iconDiv {
  background-color: var(--background-icons);
  width: 3.4rem;
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  cursor: pointer;
}

.iconChild{
    width: 1.8rem;
    color: var(--color-icons);
}