.header {
  position: fixed;
  height: 8.3rem;
  width: 100%;
  font-size: var(--font-size-base);
  font-weight: 500;
  border-bottom: 1px solid var(--header-line);
  background: var(--background-primary-500);
  color: var(--text-main);
  z-index: 90;

  .navBar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 100rem;
    margin: 0 auto;
  }

  .section {
    display: flex;
    align-items: center;
    margin: 0 auto;

    li {
      a {
        cursor: pointer;
        margin-left: 3rem;

        &:nth-last-child(2) {
          margin-left: 0;
        }
      }

      &:hover {
        color: var(--background-icons);
      }
    }

    .flagMobile {
      display: none;
    }
  }

  .flagAndIconTheme {
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .header {
    .navBar {
      padding: 0 2rem;
    }
  }
}
@media only screen and (max-width: 640px) {
  .header {
    .navBar {
     
      .section {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(153, 153, 153, 0.6);
        flex-direction: column;
        justify-content: center;
        height: 24.7rem;
        border-radius: 0 0 2rem 2rem;
        gap: 3rem;

        li {
          a {
            cursor: pointer;
            margin-left: 0rem;

            &:nth-last-child(2) {
              margin-left: 0;
            }
          }
        }

        .flagMobile {
          display: block;
          width: 5rem;
          height: 3.5rem;
          border-radius: 5px;
          border: 3px solid var(--background-icons);
        }
      }

      .none {
        display: none;
      }
    }
  }
  .flagAndIconTheme {
    gap: 2rem;
  }
}
