.footer {
  padding: 2rem 0 8rem 0;
  background-color: var(--background-primary-700);

  .footerContainer {
    width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    .icons {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      .iconDiv {
        display: flex;
        gap: 1rem;
        align-items: center;
        cursor: pointer;

        .iconCircle {
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--background-icons);
          border-radius: 999px;

          .icon {
            font-size: var(--font-size-sm);
            color: var(--white-dark);
            transition: color 0.3s ease;
          }

          &:hover {
            .icon {
              color: var(--white);
            }
          }
        }
      }
    }

    .copyright {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -6rem;
      left: 0;
      font-size: var(--font-size-xs);

      p {
        font-size: var(--font-size-xs);
      }
      &Icons {
        margin-left: 1rem;
        margin-top: 0.3rem;
        display: flex;
        gap: 1rem;

        .icon {
          cursor: pointer;
          color: var(--secondary-500);
          transition: color 0.3s ease;
          
          &:hover {
            color: var(--background-projects-500);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    padding: 2rem;
    .footerContainer {
      width: 100%;

      .copyright {
        margin-top: 2rem;
        position: static;
        justify-content: center;
        flex-direction: column;
        p {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .footer {
    .footerContainer {
      text-align: center;
      gap: 1.5rem;
      .icons {
        margin-top: 0rem;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}
