.footer{
    padding: 2rem;
    background-color: var(--background-primary-700);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icons{
        margin-top: 2rem;
        display: flex;
        gap: 6.8rem;

        .iconDiv{
            display: flex;
            gap: 1.5rem;
            align-items: center;
        }
    }
}