:root {
  --primary-500: rgba(118, 78, 249, 1);
  --primary-100: rgba(117, 78, 249, 0.35);
  --secondary-500: rgba(57, 62, 70, 0.75);
}

#lightMode {
  --text-main: rgb(0, 0, 0); 
  --text-paragraph: rgba(21, 21, 21, 0.75);

  --background-icons: rgba(98, 98, 98, 1);
  
  --background-primary-500: rgba(248, 248, 248, 1);
  --background-primary-700: rgba(240, 240, 240, 1); 
  
  --background-projects-500: rgba(57, 62, 70, 0.04);
}

#darkMode {
  --text-main: rgb(255, 255, 255);
  --text-paragraph: rgba(238, 238, 238, 0.75);

  --background-icons: rgba(57, 62, 70, 1); 
  
  --background-secondary-500: rgba(34, 40, 49, 1);
  --background-secondary-700: rgba(27, 30, 34, 1);  
  
  --background-projects-500: rgba(57, 62, 70, 0.5);
}
